div.css-5rimss.e16nr0p34 p{
    background-color: #B1C5FF;
    border: 2px solid rgb(250, 247, 247);
    padding:  2% 2% 2% 2%;
    border-radius: 5px;
    color: black;
}

/* div.css-1v0mbdj.etr89bj1 img{
    padding:  8% 5% 5% 5%;
} */

div.css-1v0mbdj.etr89bj1 img{
    border-radius: 10px;
}


